alineamientoTitulo {
  text-align: center;
}
.fondoPagina {
  background-image: url(fotosPelis/PortadaPeliculas/cineee.jpg);
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 130px;
  grid-template-rows: repeat(3, 350px);
}
.fotoDinamica {
  width: 50%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  paddd: 0%;
}
