.alineamientoTitulo{
    text-align: center;
}
.fondoPagina{
    background-image: url(fotosPelis/PortadaPeliculas/cineee.jpg); 
    
}
 
.grilla{
    display:grid;
    grid-template-columns:repeat(3, 350px);
    grid-template-rows:auto;
    gap: 120px;
}
.fotoDinamica{
    width:100% ;
     aspect-ratio: 1 / 2;  
     object-fit: cover;

}