.alineadorPrincipal{
display: flex;
justify-content: center;

}

.alineadorVertical{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.caja{
    border: 2px solid  black;
    background-color: rgb(103, 175, 121);
    width: 500px;
    height: 460px;

}

.div{
    width: 500px;
    height: 460px;
    border: 2px solid  black;
    overflow: scroll;
}